<!doctype html>
<html lang="<%= lang %>">
	<head>

		<title><%= site %> - <%= title %></title>

		<meta charset="utf-8">
		<meta name="author" content="<%= author %>">
		<meta name="description" content="<%= description %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Open Graph protocol and Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@<%= twitter %>">
		<meta name="twitter:url" property="og:url" content="<%= url %><%= current.dir %><%= current.name %>.html">
		<meta name="twitter:title" property="og:title" content="<%= site %> - <%= title %>">
		<meta name="twitter:description" property="og:description" content="<%= description %>">
		<meta name="twitter:image" property="og:image" content="<%= url %><%= opengraph %>">

		<link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">

		<!-- CSS -->
		<% for(var i=0; i<styles.length; i++) { %>
			<link rel="stylesheet" href="<%= styles[i] %>">
		<% } %>

	</head>
	<body>